# Numerical Experiements for Convex Constrained Monotone Nonlinear Systems of equations

In [1]:
from solvers import *
from convex_projections import *
from problems import *
import pandas as pd
import time

## Setup

In [2]:
F = logarithmic
x0 = 2*np.ones([5000,1])
P_c = P_Rplus

In [3]:
x0.size

5000

In [4]:
x_star, k, fevals, norm_Fk = mcg(F, x0, P_c)

In [5]:
print(k, fevals)

2 5

In [6]:
x0 = 8*np.ones([1000,1])

In [7]:
x_star, k, fevals, norm_Fk = mcg(F, x0, P_c)
print(k, fevals)

3 7

In [8]:
x_star[:5]

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [9]:
dimensions = [1000, 5000, 10000, 50000, 100000]
x0_factors = [1, 2, 3, 5, 8, 0.5, 0.1, 10]
X0s = [[factor*np.ones([dimension,1]) for factor in x0_factors] for dimension in dimensions]

In [10]:
d = {}
d['mcg'] = pd.DataFrame(columns = ['Iters', 'F_evals', 'Time', 'Norm_Fk'])

We test using various problems setting initial x0s as follows

$x_1 = (1, 1 \cdots, 1)^T$,  $x_2 = (2, 2, \cdots, 2)^T$, $x_3 = (3, 3, \cdots 3)^T$,  $x_4 = (5, 5, \cdots, 5)^T$
$x_5 = (8, 8 \cdots, 8)^T$, $x_6 = (0.5, 0.5, \cdots, 0.5)^T$, $x_7 = (0.1, 0.1, \cdots, 0.1)^T$, 
$x_8 = (10, 10 \cdots, 10)^T$

In [11]:
F = logarithmic
for i in range(len(X0s[0])):
    k = i+1
    initial = 'x' + str(k)
    x0 = X0s[0][i]
    start_time = time.time()
    x_star, k, fevals, norm_Fk = mcg(F, x0, P_c)
    end_time = time.time()
    Time = end_time - start_time
    d['mcg'].loc[initial] = [k, fevals, Time, norm_Fk]

For problem 2 at dimension = 1000 we have the following result

In [12]:
d['mcg']

    Iters  F_evals      Time  Norm_Fk
x1    1.0      3.0  0.008649      0.0
x2    2.0      5.0  0.005949      0.0
x3    2.0      5.0  0.013011      0.0
x4    2.0      5.0  0.011118      0.0
x5    3.0      7.0  0.010816      0.0
x6    1.0      3.0  0.003159      0.0
x7    1.0      3.0  0.003176      0.0
x8    4.0      9.0  0.010411      0.0

Turning our attention to problem 5 which has more interesting results

In [13]:
F = linear_monotone
for i in range(len(X0s[0])):
    k = i+1
    initial = 'x' + str(k)
    x0 = X0s[0][i]
    start_time = time.time()
    x_star, k, fevals, norm_Fk = mcg(F, x0, P_c)
    end_time = time.time()
    Time = end_time - start_time
    d['mcg'].loc[initial] = [k, fevals, Time, norm_Fk]

In [14]:
d['mcg']

    Iters  F_evals      Time       Norm_Fk
x1   38.0    190.0  0.131997  5.780224e-07
x2   27.0    136.0  0.069517  4.817343e-07
x3   36.0    181.0  0.096762  5.866614e-07
x4   28.0    141.0  0.073143  8.494047e-07
x5   28.0    141.0  0.073278  6.071560e-07
x6   42.0    211.0  0.108950  9.245495e-07
x7   50.0    251.0  0.129172  7.950286e-07
x8   27.0    136.0  0.069960  9.961981e-07