# Numerical experiements for unconstrained monotone systems of equations

In [1]:
from solvers_unconstrained import DMBHP
from problems import *
import numpy as np
import pandas as pd

For DMBPH,<br>
problem1 = problem 3 (in problems) <br>
problem2 = tridiagonal_exponential <br>
problem3 = strictly_convex <br>
problem4 = linear_monotone <br>
problem5 = logarithmic <br>
problem6 = tridiagonal<br>
problem7 = problem7 <br>
problem8 = problem8<br>
problem9 = problem9 <br>

In [18]:
dimensions = [20000,40000,60000,100000]
problem1 = problem3
problem2 = tridiagonal_exponential
problem3 = strictly_convex
problem4 = linear_monotone
problem5 = logarithmic2
problem6 = tridiagonal
problems = [problem6, problem7, problem8, problem9,]
#problems = [problem1, problem2, problem3]

In [3]:
table1 = pd.read_excel("table1_dmbhp.xlsx")
table2 = pd.read_excel("table2_dmbhp.xlsx")

In [4]:
table2.head()

        P(n)  Iters  F eval        Norm F
0   1(20000)      9      28  3.420000e-07
1   1(40000)      9      28  4.840000e-07
2   1(60000)      9      28  5.920000e-07
3  1(100000)      9      28  7.650000e-07
4   2(20000)     13      43  5.640000e-07

In [5]:
table1.columns

Index(['P(n)', 'Iters', 'F eval', 'Norm F'], dtype='object')

In [14]:
py_table1 = pd.DataFrame(columns = table1.columns)

In [19]:
#run problems and record to table
n = 0
for F in problems:
    n += 1
    for dim in dimensions:
        x0 = np.ones([dim,1])
        Pn = str(n) + '(' + str(dim) + ')'
        x_star, iters, Fevals, norm_F = DMBHP(F, x0)
        row = [Pn, iters, Fevals, norm_F]
        py_table1.loc[len(py_table1)] = row

In [24]:
x_star, iters, Fevals, norm_F = DMBHP(problem5, x0)

KeyboardInterrupt:

In [20]:
py_table1.tail()

         P(n)  Iters  F eval        Norm F
27  3(100000)      9      32  9.079389e-07
28   4(20000)      7      35  2.245495e-07
29   4(40000)      7      35  3.175609e-07
30   4(60000)      7      35  3.889311e-07
31  4(100000)      7      35  5.021079e-07

In [21]:
table1.tail()

         P(n)  Iters  F eval        Norm F
31  8(100000)      9      28  7.650000e-07
32   9(20000)      7      30  4.320000e-07
33   9(40000)      7      30  4.940000e-07
34   9(60000)      8      34  4.380000e-08
35  9(100000)      8      34  5.650000e-08

In [22]:
len(py_table1)

32

In [23]:
print(py_table1)

         P(n)  Iters  F eval        Norm F
0    1(20000)      9      33  1.673619e-07
1    1(40000)      9      33  2.366855e-07
2    1(60000)      9      33  2.898794e-07
3   1(100000)      9      33  3.742327e-07
4    2(20000)      9      32  7.070625e-07
5    2(40000)      9      32  9.999407e-07
6    2(60000)     10      35  1.224673e-07
7   2(100000)     10      35  1.581046e-07
8    3(20000)      9      33  1.673619e-07
9    3(40000)      9      33  2.366855e-07
10   3(60000)      9      33  2.898794e-07
11  3(100000)      9      33  3.742327e-07
12   4(20000)     77     475  9.402582e-07
13   4(40000)     74     457  9.638049e-07
14   4(60000)     74     457  9.110780e-07
15  4(100000)     74     457  8.718644e-07
16   1(20000)     15      99  6.405319e-07
17   1(40000)     15      99  9.051565e-07
18   1(60000)     16     105  3.056262e-07
19  1(100000)     16     105  3.944522e-07
20   2(20000)     41     359  8.293667e-07
21   2(40000)     47     404  8.841078e-07
22   2(60000)     44     383  5.563037e-07
23  2(100000)     47     468  7.973873e-07
24   3(20000)      9      32  4.060426e-07
25   3(40000)      9      32  5.742310e-07
26   3(60000)      9      32  7.032864e-07
27  3(100000)      9      32  9.079389e-07
28   4(20000)      7      35  2.245495e-07
29   4(40000)      7      35  3.175609e-07
30   4(60000)      7      35  3.889311e-07
31  4(100000)      7      35  5.021079e-07